.friend{
    width: 60%;
    height: 400px;
    /* border: 1px solid black; */
    margin: auto;
}
.amis{
    width: 40%;
    height: 10%;
    border: 2px solid black;
    margin: auto;
    margin-top: 2%;
    display: flex;
}
.img_amis{
    width: 20%;
    height: 100%;
    border-right: 2px solid black;
}
.name_amis{
    width: 80%;
    height: 100%;
    text-align: center;
}